auto_mix_prep==0.2.0
comet_ml==3.49.10
datasets==3.6.0
huggingface_hub==0.31.2
loguru==0.7.3
python-dotenv==1.1.0
PyYAML==6.0.2
PyYAML==6.0.2
torch==2.7.0+cu128
transformers==4.51.3
trl==0.17.0
unsloth==2025.5.3
